In [1]:
import pandas as pd
import yfinance as yf

In [2]:
#define gold ticker
ticker = 'GC=F'

In [4]:
# define the time period
start_date = '2025-01-01'
end_date = '2026-01-01'

In [9]:
# download the data
df_nvda = yf.download(ticker, start=start_date, end=end_date)
df_nvda.head()

[*********************100%***********************]  1 of 1 completed

Price             Close         High          Low         Open Volume
Ticker             GC=F         GC=F         GC=F         GC=F   GC=F
Date
2025-01-02  2658.899902  2663.100098  2633.000000  2633.000000   1728
2025-01-03  2645.000000  2658.699951  2641.800049  2658.699951    591
2025-01-06  2638.399902  2647.000000  2617.300049  2645.500000    960
2025-01-07  2656.699951  2657.500000  2653.000000  2653.399902    643
2025-01-08  2664.500000  2676.899902  2653.500000  2655.500000    999

In [11]:
df_nvda.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 252 entries, 2025-01-02 to 2025-12-31
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (Close, GC=F)   252 non-null    float64
 1   (High, GC=F)    252 non-null    float64
 2   (Low, GC=F)     252 non-null    float64
 3   (Open, GC=F)    252 non-null    float64
 4   (Volume, GC=F)  252 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 11.8 KB

In [ ]:
# save the data in a csv file
# df_nvda.to_csv('./' + ticker + '_yfinance.csv')