# üá¨üá± Greenland Mineral Data Preprocessing
### ‚õèÔ∏è From Raw Data to Analytics-Ready Insights

**Author:** Antigravity AI

---

## üìñ Introduction
This notebook focuses on the **preprocessing and cleaning** of the Greenland Mineral Master Dataset. The goal is to transform a complex, multi-source Excel file into a clean, structured format suitable for detailed geological analysis and mapping.

### üõ†Ô∏è What's Inside?
1.  **Data Loading & Initial Inspection** üì•
2.  **Schema Standardization** üèóÔ∏è
3.  **Geospatial Validation** üåç
4.  **Advanced Missing Value Logic** üîç
5.  **Dtype & Text Optimization** ‚ö°
6.  **Dataset Segmentation** üìÇ

Let's get started! üöÄ

## ‚öôÔ∏è 1. Setup & Library Imports
We start by importing essential libraries and configuring pandas for optimal data viewing.

In [35]:
# Import fundamental data science libraries
import pandas as pd
import numpy as np

# Display settings for better visibility
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 100)

print("‚úÖ Setup Complete!")

‚úÖ Setup Complete!

## üì• 2. Data Loading
Loading the master mineral dataset. Ensure the path is correctly set for your environment.

In [36]:
# Load the dataset (Kaggle path example commented below)
# df = pd.read_csv("/kaggle/input/greenland-minerals/greenland_mineral_master_dataset.csv")

# Loading from local Excel file
df = pd.read_excel("greenland_mineral_master_dataset.xlsx")

# Quick preview of first 5 rows
df.head()

,source_type,name,latitude,longitude,region,category,description,region_1,wkt,main_occur,occurrence,occurren_1,significan,areanames,commodity_,main_commo,commodit_1,genetic_mo,resources,reserves,mining_act,gradedescr,geological,exploratio,recommenda,rocktypes,depositfor,texture,oremineral,weathering,ore_contro,genetic__1,gangue_min,geotectoni,geologic_1,geologic_2,occurren_2,alteration,priority_h,classname_,mainoccurr,company_na,start_year,depth_to,txt_search,year,total_scor
0,Mineral Occurrence,Wolstenholme ‚ï™ - Iron 01,76.41269,-70.09562,https://data.geus.dk/greenlanddb/webresources/...,NaN,NaN,Thule,"MULTIPOINT(-276965.694169759 8694210.32975088,...",NaN,Wolstenholme ‚ï™ - Iron 02,Wolstenholme ‚ï™ - Iron 02\n (described by main ...,indication,North-West Greenland,Iron and ferro-alloy metals,Iron,NaN,Metamorphic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Iron and ferro-alloy metals - indication,no,NaN,NaN,NaN,NaN,NaN,NaN
1,Mineral Occurrence,"Clavering ‚ï™, Rustplateau",74.19420,-21.32239,https://data.geus.dk/greenlanddb/webresources/...,NaN,NaN,Central East Greenland,"MULTIPOINT(1030532.81220288 8313509.47723393,1...",https://data.geus.dk/greenlanddb/webresources/...,"Clavering ‚ï™, Rustplateau-toppen","Clavering ‚ï™, Rustplateau-toppen\n (described b...",showing,North-East Greenland,Base metals,Lead,NaN,Sandstone lead,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,Base metals - showing,no,NaN,NaN,NaN,NaN,NaN,NaN
2,Mineral Occurrence,"Clavering ‚ï™, Rustplateau",74.18932,-21.29931,https://data.geus.dk/greenlanddb/webresources/...,NaN,NaN,Central East Greenland,"MULTIPOINT(1030532.81220288 8313509.47723393,1...",https://data.geus.dk/greenlanddb/webresources/...,"Clavering ‚ï™, Kontaktb¬µkken","Clavering ‚ï™, Kontaktb¬µkken\n (described by mai...",showing,North-East Greenland,Base metals,Lead,NaN,Sandstone lead,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,Base metals - showing,no,NaN,NaN,NaN,NaN,NaN,NaN
3,Mineral Occurrence,"Clavering ‚ï™, Rustplateau",74.20149,-21.34758,https://data.geus.dk/greenlanddb/webresources/...,NaN,NaN,Central East Greenland,"MULTIPOINT(1030532.81220288 8313509.47723393,1...",https://data.geus.dk/greenlanddb/webresources/...,"Clavering ‚ï™, Engb¬µkken","Clavering ‚ï™, Engb¬µkken\n (described by main oc...",showing,North-East Greenland,Base metals,Lead,NaN,Sandstone lead,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,Base metals - showing,no,NaN,NaN,NaN,NaN,NaN,NaN
4,Mineral Occurrence,Kangersuneq South 01,68.70170,-50.85895,https://data.geus.dk/greenlanddb/webresources/...,NaN,NaN,Kangaatsiaq,"MULTIPOINT(19118.7387376299 7671357.90733369,2...",https://data.geus.dk/greenlanddb/webresources/...,Kangersuneq South 02,Kangersuneq South 02\n (described by main occu...,indication,Central West Greenland,Base metals,Copper,NaN,Volcanic-associated massive sulphide base metals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Base metals - indication,no,NaN,NaN,NaN,NaN,NaN,NaN

## üîç 3. Initial Data Overview
Let's look at the dimensions and column types to understand the scale of our data.

In [37]:
# Print shape and detailed info
print(f"üìä Dataset Shape: {df.shape[0]} rows, {df.shape[1]} columns")
print("-" * 30)
df.info()

üìä Dataset Shape: 8649 rows, 47 columns
------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8649 entries, 0 to 8648
Data columns (total 47 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   source_type  8649 non-null   object
 1   name         8310 non-null   object
 2   latitude     8408 non-null   float64
 3   longitude    8408 non-null   float64
 4   region       3006 non-null   object
 5   category     241 non-null    object
 6   description  8380 non-null   object
 7   region_1     512 non-null    object
 8   wkt          512 non-null    object
 9   main_occur   488 non-null    object
 10  occurrence   512 non-null    object
 11  occurren_1   512 non-null    object
 12  significan   512 non-null    object
 13  areanames    512 non-null    object
 14  commodity_   512 non-null    object
 15  main_commo   512 non-null    object
 16  commodit_1   5 non-null      object
 17  genetic_mo   512 non-null    object
 18  resources    21 non-null     object
 19  reserves     3 non-null      object
 20  mining_act   7 non-null      object
 21  gradedescr   132 non-null    object
 22  geological   260 non-null    object
 23  exploratio   245 non-null    object
 24  recommenda   11 non-null     object
 25  rocktypes    69 non-null     object
 26  depositfor   48 non-null     object
 27  texture      52 non-null     object
 28  oremineral   109 non-null    object
 29  weathering   27 non-null     object
 30  ore_contro   42 non-null     object
 31  genetic__1   35 non-null     object
 32  gangue_min   89 non-null     object
 33  geotectoni   55 non-null     object
 34  geologic_1   106 non-null    object
 35  geologic_2   49 non-null     object
 36  occurren_2   109 non-null    object
 37  alteration   0 non-null      float64
 38  priority_h   512 non-null    float64
 39  classname_   512 non-null    object
 40  mainoccurr   512 non-null    object
 41  company_na   2437 non-null   object
 42  start_year   2405 non-null   float64
 43  depth_to     2361 non-null   float64
 44  txt_search   147 non-null    object
 45  year         94 non-null     float64
 46  total_scor   14 non-null     float64
dtypes: float64(8), object(39)
memory usage: 3.1+ MB

## üèóÔ∏è 4. Column Name Standardization
Proper formatting (lowercase, snake_case) makes coding much easier!

In [38]:
# Clean column names: lowercase, strip spaces, replace mid-spaces with underscores
df.columns = (
    df.columns
      .str.lower()
      .str.strip()
      .str.replace(" ", "_")
)

print("üÜï Standardized Columns:")
print(df.columns.tolist())

üÜï Standardized Columns:
['source_type', 'name', 'latitude', 'longitude', 'region', 'category', 'description', 'region_1', 'wkt', 'main_occur', 'occurrence', 'occurren_1', 'significan', 'areanames', 'commodity_', 'main_commo', 'commodit_1', 'genetic_mo', 'resources', 'reserves', 'mining_act', 'gradedescr', 'geological', 'exploratio', 'recommenda', 'rocktypes', 'depositfor', 'texture', 'oremineral', 'weathering', 'ore_contro', 'genetic__1', 'gangue_min', 'geotectoni', 'geologic_1', 'geologic_2', 'occurren_2', 'alteration', 'priority_h', 'classname_', 'mainoccurr', 'company_na', 'start_year', 'depth_to', 'txt_search', 'year', 'total_scor']

## üåç 5. Geospatial Validation
Since this is geological data, accurate coordinates are non-negotiable.

In [39]:
# 1. Remove rows where coordinates are missing
initial_count = len(df)
df = df.dropna(subset=["latitude", "longitude"])
print(f"üóëÔ∏è Removed {initial_count - len(df)} rows with missing coordinates")

# 2. Validate coordinate ranges
df = df[
    df["latitude"].between(-90, 90) &
    df["longitude"].between(-180, 180)
]
print(f"‚úÖ Data points after validation: {len(df)}")

üóëÔ∏è Removed 241 rows with missing coordinates
‚úÖ Data points after validation: 8408

## üìä 6. Missing Value Analysis
Handling sparse data by dropping columns that are mostly empty.

In [40]:
# Calculate missing percentage per column
missing_percent = df.isnull().mean() * 100

# Identify columns with more than 90% missing values
threshold = 90
cols_to_drop = missing_percent[missing_percent > threshold].index

print(f"üìç Dropping {len(cols_to_drop)} columns due to >{threshold}% missing data")
df = df.drop(columns=cols_to_drop)

print(f"üÜï Remaining Columns: {df.shape[1]}")

üìç Dropping 38 columns due to >90% missing data
üÜï Remaining Columns: 9

## ‚ö° 7. Type Casting & Text Cleaning
Ensuring numeric columns are numbers and text columns are tidy.

In [41]:
# Convert year and depth columns to numeric
for col in ["start_year", "year", "depth_to"]:
    if col in df.columns:
        df[col] = pd.to_numeric(df[col], errors="coerce")

# Clean all text columns (strip whitespace, fix double spaces)
text_cols = df.select_dtypes(include="object").columns
for col in text_cols:
    df[col] = (
        df[col]
          .astype(str)
          .str.strip()
          .str.replace("\\s+", " ", regex=True)
    )

print("‚ú® Text cleaning and type casting complete!")

‚ú® Text cleaning and type casting complete!

## üìÇ 8. Dataset Segmentation
Separating the data into specialized dataframes for easier analysis (Placenames vs. Drillholes).

In [42]:
# Split by source type
placenames = df[df["source_type"] == "Placename"].copy()
drillholes = df[df["source_type"] == "Drillhole"].copy()

# Select only relevant columns for Placenames
placenames = placenames[
    ["name", "latitude", "longitude", "description"]
].drop_duplicates()

# Select only relevant columns for Drillholes
drillholes = drillholes[
    ["name", "latitude", "longitude", "region", 
     "company_na", "start_year", "depth_to"]
].drop_duplicates()

print(f"‚úÖ Segmented: {len(placenames)} Placenames, {len(drillholes)} Drillholes")

‚úÖ Segmented: 5395 Placenames, 2494 Drillholes

## üíæ 9. Final Dataset Preview
Final check of our clean datasets.

In [43]:
print("--- Placenames Dataset Info ---")
placenames.info()

--- Placenames Dataset Info ---
<class 'pandas.core.frame.DataFrame'>
Index: 5395 entries, 3160 to 8554
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         5395 non-null   object
 1   latitude     5395 non-null   float64
 2   longitude    5395 non-null   float64
 3   description  5395 non-null   object
dtypes: float64(2), object(2)
memory usage: 210.7+ KB

In [44]:
print("--- Drillholes Dataset Info ---")
drillholes.info()

--- Drillholes Dataset Info ---
<class 'pandas.core.frame.DataFrame'>
Index: 2494 entries, 512 to 3012
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        2494 non-null   object
 1   latitude    2494 non-null   float64
 2   longitude   2494 non-null   float64
 3   region      2494 non-null   object
 4   company_na  2494 non-null   object
 5   start_year  2398 non-null   float64
 6   depth_to    2354 non-null   float64
dtypes: float64(4), object(3)
memory usage: 155.9+ KB

## üèÅ Conclusion
Data preprocessing is complete! We have two clean, validated datasets ready for visualization and mapping.