## ðŸ§¾ Notebook Title

#### Pakistan Workersâ€™ Remittances (1950â€“Present): Trends & Analysis

In [1]:
# import libraries for anaysis
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [4]:
# load dataset
df = pd.read_csv("../../06_datasets/remittances_dataset.csv")

# 2. Inspect the first rows
df.head()

,Dataset Name,Observation Date,Series Key,Series Display Name,Observation Value,Unit,Observation Status,Observation Status Comment,Sequence No.,Series name
0,Country-wise Workers' Remittances,31-Dec-2025,TS_GP_BOP_WR_M.WR0010,I. Cash Flow,3588.970564,Million USD,Normal,NaN,10,Total Cash inflow of Workers' remittances in P...
1,Country-wise Workers' Remittances,31-Dec-2025,TS_GP_BOP_WR_M.WR0020,......1 USA,301.682115,Million USD,Normal,NaN,20,Workers' remittances received from U.S.A.
2,Country-wise Workers' Remittances,31-Dec-2025,TS_GP_BOP_WR_M.WR0030,......2 U.K.,559.739126,Million USD,Normal,NaN,30,Workers' remittances received from U.K.
3,Country-wise Workers' Remittances,31-Dec-2025,TS_GP_BOP_WR_M.WR0040,......3 Saudi Arabia,813.063939,Million USD,Normal,NaN,40,Workers' remittances received from Saudi Arabia
4,Country-wise Workers' Remittances,31-Dec-2025,TS_GP_BOP_WR_M.WR0050,......4 U.A.E.,726.080614,Million USD,Normal,NaN,50,Workers' remittances received from U.A.E.

In [5]:
# 3. Filter only the **Total Cash Inflow** row
# Based on 'Series Display Name' or 'Series name'
df_total = df[df['Series Display Name'] == 'I. Cash Flow']

In [6]:
# 4. Keep only necessary columns
df_total = df_total[['Observation Date', 'Observation Value', 'Unit']]

In [7]:
# 5. Rename columns for clarity
df_total = df_total.rename(columns={
    'Observation Date': 'Date',
    'Observation Value': 'Remittances_Million_USD',
    'Unit': 'Unit'
})

In [8]:
# 6. Convert 'Date' to datetime
df_total['Date'] = pd.to_datetime(df_total['Date'])

In [9]:
# 7. Sort by Date
df_total = df_total.sort_values('Date').reset_index(drop=True)

In [10]:
# 8. Optional: convert Million USD to USD
df_total['Remittances_USD'] = df_total['Remittances_Million_USD'] * 1_000_000

In [11]:

# 9. Preview cleaned dataset
print(df_total.head())
print(df_total.tail())

        Date  Remittances_Million_USD         Unit  Remittances_USD
0 1972-07-31                      9.5  Million USD        9500000.0
1 1972-08-31                     13.7  Million USD       13700000.0
2 1972-09-30                     11.4  Million USD       11400000.0
3 1972-10-31                     10.5  Million USD       10500000.0
4 1972-11-30                     11.1  Million USD       11100000.0
          Date  Remittances_Million_USD         Unit  Remittances_USD
637 2025-08-31              3138.174787  Million USD     3.138175e+09
638 2025-09-30              3184.123961  Million USD     3.184124e+09
639 2025-10-31              3419.613610  Million USD     3.419614e+09
640 2025-11-30              3188.337716  Million USD     3.188338e+09
641 2025-12-31              3588.970564  Million USD     3.588971e+09

In [ ]:
# 10. Save cleaned dataset to CSV
# df_total.to_csv("../../06_datasets/remittances_dataset_cleaned.csv", index=False)